CODE/AttentionDCA_python/src/PLM/generated_sequences_brute_force_specificPCA_comp/gen_seqs_randinit_Ns500000_b_1_b_PCA10_PCA_comp_24_20PCA_comp.npy
CODE/AttentionDCA_python/src/PLM/generated_sequences_brute_force_specificPCA_comp/gen_seqs_randinit_Ns150000_b_1_b_PCA10_PCA_comp_24_20PCA_comp.npy
